<div class="form-group">
    <label for="{{ class }}{{ entry.id }}{{ key }}">{{ key }}</label><br>
    <input type="text"
           class="datepicker"
           id="{{ class }}{{ entry.id }}{{ key }}Date"
           data-id="{{ key }}"
           datepicker
    >

    <input type="text"
           class="datepicker"
           id="{{ class }}{{ entry.id }}{{ key }}Time"
           data-id="{{ key }}"
           timepicker
    >
</div>