<div class="form-group">
    <label for="{{ class }}{{ entry.id }}{{ key }}">{{ title(attribute, key) }}</label>
    <input type="number"
           id="{{ class }}{{ entry.id }}{{ key }}"
           ng-model="data.{{ key }}"
           name="data[{{ key }}]"
           value="{{ attribute(entry, key) }}"
           class="form-control"
           string-to-number
           ng-blur="resetError('{{ key }}')"
            {% if attributes[key] and attributes[key]['required'] is defined %}
                required
            {% endif %}
    >
</div>