<div class="form-group">
    <label for="{{ class }}{{ entry.id }}{{ key }}">{{ key }}</label>
    <textarea id="{{ class }}{{ entry.id }}{{ key }}" ng-model="data.{{ key }}" name="data[{{ key }}]" class="form-control">
        {{ entry[key] }}
    </textarea>
</div>