<div class="form-group">
    <label for="{{ class }}{{ entry.id }}{{ key }}">{{ key }}</label>
    <ng-quill-editor theme="bubble" id="{{ class }}{{ entry.id }}{{ key }}" ng-model="data.{{ key }}" name="data[{{ key }}]">
        {{ entry[key] }}
    </ng-quill-editor>

</div>