<div ng-controller="listController{{ list }}" class="form-group">
    <div class="floatleft">
        <tg-dynamic-directive ng-model="rootItem" tg-dynamic-directive-view="getView">
        </tg-dynamic-directive>
        <div style="clear: both;"></div>
    </div>

    <script type="text/ng-template" id="nestable_item{{ list }}.html">
        <div>
            <span class="status active"></span>{[{ngModelItem.title}]}
            <ul class="apps-container" ng-show="ngModelItem.hasChildren" data-id="{[{ngModelItem.id}]}" ui-sortable="sortableOptions" ng-model="ngModelItem.children">
                <li class="test" ng-repeat="innerItem in ngModelItem.children">
                    <tg-dynamic-directive ng-model="innerItem" tg-dynamic-directive-view="getView">
                    </tg-dynamic-directive>
                </li>
            </ul>
        </div>
    </script>
</div>

<script type="text/javascript">

    function treeify(list, idAttr, parentAttr, childrenAttr) {
        if (!idAttr) idAttr = 'id';
        if (!parentAttr) parentAttr = 'parent';
        if (!childrenAttr) childrenAttr = 'children';
        var treeList = [];
        var lookup = {};
        list.forEach(function(obj) {
            lookup[obj[idAttr]] = obj;
            obj[childrenAttr] = [];
        });
        list.forEach(function(obj) {
            if (obj[parentAttr] != null) {
                lookup[obj[parentAttr]][childrenAttr].push(obj);
            } else {
                treeList.push(obj);
            }
        });
        return treeList;
    };

    if(typeof scopes === 'undefined'){
        var scopes = {};
    }

    myApp.controller('listController{{ list }}', ['$scope','$http', function($scope,$http) {
        $scope.init = function(){
            $scope.hasChildren = false;
            $scope.entries = [];
            if(typeof entries['{{ list }}'] !== undefined){
                var myEntries = [];
                //create object with id => entryId
                var parentKey = '';
                angular.forEach(attributes['{{ list }}'], function(attribute){
                    if(attribute[0] === 'position' && 'relatedField' in attribute){
                        parentKey = attribute['relatedField'];
                    }
                });
                if(parentKey){
                    angular.forEach(entries['{{ list }}'], function(item){
                        item['hasChildren'] = true;
                        item.parent = (item[parentKey].ids.length)? item[parentKey].ids[0] : null;
                        myEntries.push(item);
                    });
                    $scope.entries = treeify(myEntries);
                }else{
                    $scope.entries = entries['{{ list }}'];
                }

            }
        };

        $scope.send = function(data, model){
            $http({
                method: 'POST',
                url: '',
                data: {
                    action: "entry/saveTree", entry: model, data: data
                }
            }).then(function successCallback(response) {
                console.log(response.data);
                if(response.data === "true"){
                    showNotification('Der Eintrag wurde erfolgreich gespeichert', 'notice');
                }else{
                    showNotification('Fehler beim Speichern des Eintrags', 'error');
                }
                // this callback will be called asynchronously
                // when the response is available
            }, function errorCallback(response) {
                // called asynchronously if an error occurs
                // or server returns response with an error status.
            });
        }


        var tmpList = [];

        $scope.init();
        $scope.rootItem = {
            title: '{{ list }}',
            children: $scope.entries,
            hasChildren: true
        };

        $scope.sortableOptions = {
            opacity: '0.8',
            tolerance: 'pointer',
            //connectWith: ".sortable",
            connectWith: ".apps-container",
            update: function(e, ui){
                if (this === ui.item.parent()[0]) {
                    var sortable = ui.item.sortable;
                    var model = sortable.model;
                    var sourceModel = sortable.sourceModel;
                    var data = {
                        position: sortable.dropindex,
                        parentId: $(sortable.droptarget[0]).data('id'),
                        oldPosition: sortable.index
                    };

                    if(sortable.droptargetModel !== sortable.sourceModel){
                        var sourceIds = [];

                        for(var i = 0; i < sourceModel.length; i++){
                            if(model.id !== sourceModel[i].id){
                                sourceIds.push(sourceModel[i].id);
                            }
                        }
                        data['sourceIds'] = sourceIds;
                    }
                    $scope.send(data, model);
                }
            }
        };

        $scope.getView = function (item) {
            /*
             you can return a different url
             to load a different template dynamically
             based on the provided item
             */
            if (item) {
                return 'nestable_item{{ list }}.html';
            }
            return null;
        };


        scopes['{{ list }}'] = $scope;
    }]);
</script>

<!--
$( ".list-group" ).sortable({
      connectWith: ".list-group"
    }).disableSelection();

-->

{#
<ul class="list-group"  ng-model="relations['{{key}}']" >
        <li class="list-group-item" >
            test
            <a href=""  ng-click="removeRelation(x, '{{ key }}')">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </a>
        </li>
        <div style="padding-left: 100px">
            <ul class="list-group">
                <li class="list-group-item" >
                    test
                    <a href=""  ng-click="removeRelation(x, '{{ key }}')">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="list-group-item" >
                    test
                    <a href=""  ng-click="removeRelation(x, '{{ key }}')">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
        <li class="list-group-item" >
            test
            <a href=""  ng-click="removeRelation(x, '{{ key }}')">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </a>
        </li>
        <li class="list-group-item" >
            test
            <a href=""  ng-click="removeRelation(x, '{{ key }}')">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </a>
        </li>
        <li class="list-group-item" >
            test
            <a href=""  ng-click="removeRelation(x, '{{ key }}')">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </a>
        </li>
    </ul>

#}