
{% set model = attribute['relatedTo']['model'] %}

{% set criteria = (attribute(entry, key)) %}
{% set relatedEntries = criteria.find() %}
{% set selects = [] %}
{% if relatedEntries %}
    {% for rel in relatedEntries %}
        {% set selects = [{
            id: rel.id,
            title: rel.title
        }]|merge(selects) %}
    {% endfor %}
{% endif %}

<div class="form-group">
    <div style="width: 300px">
        <label for="{{ class }}{{ entry.id }}{{ key }}">{{ title(attribute, key) }}</label>
        <ul class="list-group" ui-sortable="sortableOptions" ng-model="relations['{{key}}']" >
            <li class="list-group-item" ng-repeat="x in relations['{{key}}']">
                {[{ x.title }]}
                <a href=""  ng-click="removeRelation(x, '{{ key }}')">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>


    {% for select in selects %}
        <div>
            <input type="hidden" value="{{ select.id }}" data-title="{{ select.title }}" name="data[{{ key }}][]" class="{{ class }}{{ entryId }}{{ key }}">
        </div>
    {% endfor %}
    <div>
        <a href="#{{ class }}{{ entry.id }}Modal{{ key }}" class="btn btn-default" data-toggle="modal" ng-click="getRelation(attributes['{{ key }}']['relatedTo']['model'], '{{ key }}')">Add Relation</a>
    </div>
    {% include "admin/forms/modal.twig" %}
</div>
