<div class="form-group">
    <label for="{{ class }}{{ entry.id }}{{ key }}">{{ title(attribute, key) }}</label>
    <ng-quill-editor
            theme="snow"
            id="{{ class }}{{ entry.id }}{{ key }}"
            ng-model="data.{{ key }}"
            name="data[{{ key }}]"
            ng-blur="resetError('{{ key }}')"
            on-content-changed="myCallback(editor)"
            on-editor-created="editorCreated(editor, '{{ key }}')"
            >
        {{ entry[key] }}
    </ng-quill-editor>
    <ul class="errors">
        <li ng-show="{{ class }}{{ entry.id }}Form.$error.{{ key }}">
            {[{ errorMessages['{{ key }}'] }]}
        </li>
    </ul>
</div>