{% extends 'layout/site.twig' %}

{% block content %}


    {% set form = anu.answer.renderForm() %}
    {{ form|raw }}
    <br><br><br><br>

    <div>
        <form method="post" accept-charset="UTF-8" enctype="multipart/form-data">
            <input type="hidden" name="action" value="action/home/save">
            <!--<input type="hidden" name="data[question_id]" value="1">-->
            <!--<input type="hidden" name="data[test_id][]" value="1">
            <input type="hidden" name="data[test_id][]" value="3">
            <input type="hidden" name="data[pages][]" value="1">
            <input type="hidden" name="data[pages][]" value="2">-->
            <input type="submit" value="submit">

            <input type="text" ng-model="data.text" name="data[text]" value="">{[{data.text}]}
            <input type="text" name="data[title]" value="Frage">
            <input type="text" name="data[pointsPlus]" value="3">
            <input type="text" name="data[pointsMinus]" value="3">
            <input type="text" name="data[correctAnswer]" value="2">
            <input type="button" ng-click="send()" value="senden">
        </form>
    </div>

    <br>
    <br>
    save Answer
    <form method="post" accept-charset="UTF-8" enctype="multipart/form-data">
        <input type="hidden" name="action" value="action/home/saveQuestion">
        <input type="submit" value="submit">
        <input type="text" name="data[text]" value="regerger">
        <input type="text" name="data[title]" value="Antwort">
    </form>


    <br>
    <br>
    save Page
    <form method="post" accept-charset="UTF-8" enctype="multipart/form-data">
        <input type="hidden" name="action" value="action/home/savePage">
        <input type="hidden" name="data[parent_pid]" value="1">
        <input type="submit" value="submit">
        <input type="text" name="data[linkName]" value="Page 1">
        <input type="text" name="data[title]" value="Page 1">
    </form>

    <br>
    <br>
    save Asset
    <form method="post" accept-charset="UTF-8" enctype="multipart/form-data">
        <input type="hidden" name="action" value="action/home/saveAsset">
        <input type="file"  name="path" id="settings-credential">
        <input type="submit" value="submit">
        <input type="text" name="data[title]" value="Ein Asset">
        <input type="text" name="data[name]" value="Bild mit namen ^.^">
    </form>


    <br>
    <br>
    save User<br>
    <form method="post" accept-charset="UTF-8" enctype="multipart/form-data">
        <input type="hidden" name="action" value="action/home/saveUser">
        <input type="hidden" name="data[user_id]" value="1">
        <input type="submit" value="submit">
        <input type="text" name="data[first_name]" value="Vorname">
        <input type="text" name="data[last_name]" value="Nachname">
        <input type="text" name="data[title]" value="Blub">
        <input type="text" name="data[email]" value="Blub@Blaa.de">
        <input type="password" name="data[newPassword]" value="Warpten5000">
    </form>
{#
    {% set users = anu.user.find() %}
    {% if users %}
        {% for user in users %}
            {{ user.password }}<br>
        {% endfor %}
    {% endif %}



    {% set user = anu.user.getCurrentUser() %}
    {% if user %}
         {{ user.email }}
    {% else %}
        kein nutzer
    {% endif %}
    #}

    {% set matrixes = anu.matrix.find() %}
    <br><br>

    {% for matrix in matrixes %}
        {{ matrix.id }}  .. {{ matrix.content }} .. {{ matrix.position }}<br>
    {% endfor %}
    <br><br><br>

    {% set elements = anu.entry.find() %}
    {% if elements %}
        {% for entry in elements %}
            {{ entry.id }} .. <a href="{{ entry.getUrl() }}">{{ entry.title }}</a><br>
        {% endfor %}
    {% endif %}



    {% set asset = anu.asset.getAssetById(6) %}
    <img src="{{ asset.getUrl() }}">

    {% includeJsFile 't'%}
    {% includeJsFile 't2'%}
    {% includeJsFile 't23'%}
    {% includeCssFile 't23'%}
    {% includeCssFile 't23'%}
{% endblock %}