<div ng-controller="listController{{ list }}" class="form-group listController" data-list="{{ list }}">
    <script type="text/ng-template" id="nodes_renderer.html">
        <div>
            <div  class="ui-tree-row pull-left">
                <div ui-tree-handle class="pull-left">
                    <i class="fa fa-arrows move" aria-hidden="true"></i>
                </div>
                <div class="pull-left" style="padding-left: 10px;">
                    <a ng-href="{{ baseUrl }}action/{{ list }}/edit/{[{ node.id }]}" >{[{node.title}]} {[{ node.id }]}</a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <ol ui-tree-nodes="" ng-model="node.children">
            <li ng-repeat="node in node.children" ui-tree-node ng-include="'nodes_renderer.html'">
            </li>
        </ol>
    </script>

    <div ui-tree="treeOptions">
        <ol ui-tree-nodes="" ng-model="entries" id="tree-root">
            <li ng-repeat="node in entries" ui-tree-node ng-include="'nodes_renderer.html'"></li>
        </ol>
    </div>

    <a href="{{ baseUrl }}action/{{ list }}/edit/" type="button" class="btn btn-danger pull-right">{{ list }} hinzufügen</a>
</div>


{% includeJsFile '/vendor/underscore.js'%}
{% includeJsFile 'listController.js'%}
