<div ng-controller="listController{{ list }}" class="form-group listController" data-list="{{ list }}">
    <div class="floatleft">
        <tg-dynamic-directive tg-dynamic-directive-children="{[{hasChildren}]}" ng-model="rootItem" tg-dynamic-directive-view="getView">
        </tg-dynamic-directive>
        <div style="clear: both;"></div>
    </div>

    <script type="text/ng-template" id="nestable_item{{ list }}.html">
        <div>
            <div style="float: left">
                <i ng-hide="ngModelItem.first" class="fa fa-arrows move" aria-hidden="true"></i>
                <span ng-hide="ngModelItem.first" class="status" ng-class="{true: 'active', false: 'disabled'}[ngModelItem.enabled == 1]"></span>
                <a ng-href="{{ baseUrl }}action/{{ list }}/edit/{[{ ngModelItem.id }]}" >{[{ngModelItem.title}]}</a>
            </div>
            <div style="clear: both"></div>
            <ul class="apps-container" ng-show="hasChildren" data-id="{[{ngModelItem.id}]}" ui-sortable="sortableOptions" ng-model="ngModelItem.children">
                <li class="test" ng-repeat="innerItem in ngModelItem.children">
                    <tg-dynamic-directive tg-dynamic-directive-children="{[{hasChildren}]}" ng-model="innerItem" tg-dynamic-directive-view="getView">
                    </tg-dynamic-directive>
                </li>
            </ul>
        </div>
    </script>

    <a href="{{ baseUrl }}action/{{ list }}/edit/" type="button" class="btn btn-danger pull-right">{{ list }} hinzufügen</a>
</div>


{% includeJsFile '/vendor/underscore.js'%}
{% includeJsFile 'listController.js'%}
