<!doctype html>
<html>
<head>
    <title>{{ entry.title? entry.title : "Framework" }}</title>

    <link  href="{{ assetPathCSS }}bootstrap.css" rel="stylesheet">
    <link href="{{ internalAssetPathCSS }}style.css" rel="stylesheet" type="text/css">
    <link  href="{{ assetPathCSS }}vendor/toggleButton.css" rel="stylesheet">
    <link  href="{{ assetPathCSS }}vendor/bs.sm.min.css" rel="stylesheet">
    <link  href="{{ assetPathCSS }}vendor/jquery.timepicker.css" rel="stylesheet">
    <link  href="{{ assetPathCSS }}vendor/bootstrap-datepicker.css" rel="stylesheet">
    <link  href="{{ assetPathCSS }}vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Theme included stylesheets -->
    <link href="{{ assetPathCSS }}vendor/quill.snow.css" rel="stylesheet">
    {#<link href="{{ assetPathCSS }}vendor/quill.bubble.css" rel="stylesheet">#}



    <!--<meta http-equiv="Content-Type" content="text/html;charset=utf-8">-->
</head>

<body ng-app="myApp">
<noscript class="msg"><div>Diese Seite wird nur mit JavaScript korrekt dargestellt. Bitte schalten Sie JavaScript in Ihrem Browser ein!</div></noscript>
<div id="mController" ng-controller="mainController"></div>
    <div id="container">
        <div id="notifications-wrapper">
            <div id="notifications">
                <div class="notification" style="display: none;">{{ anu.template.getNotice() }}</div>
            </div>
        </div>
    </div>
    {% block body %}

    {% endblock %}

    {% block Files %}


        <script src="{{ assetPathJS }}vendor/moment.js"></script>
        <script src="{{ assetPathJS }}vendor/moment-timezone.js"></script>
        <script type="text/javascript">
            moment.tz.add("Europe/London");
            moment.tz.add('America/Los_Angeles|PST PDT|80 70|0101|1Lzm0 1zb0 Op0');
            moment.tz.add('Europe/London|GMT BST BDST|0 -10 -20|0101010101010101010101010101010101010101010101010121212121210101210101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010|-2axa0 Rc0 1fA0 14M0 1fc0 1g00 1co0 1dc0 1co0 1oo0 1400 1dc0 19A0 1io0 1io0 WM0 1o00 14o0 1o00 17c0 1io0 17c0 1fA0 1a00 1lc0 17c0 1io0 17c0 1fA0 1a00 1io0 17c0 1io0 17c0 1fA0 1cM0 1io0 17c0 1fA0 1a00 1io0 17c0 1io0 17c0 1fA0 1a00 1io0 1qM0 Dc0 2Rz0 Dc0 1zc0 Oo0 1zc0 Rc0 1wo0 17c0 1iM0 FA0 xB0 1fA0 1a00 14o0 bb0 LA0 xB0 Rc0 1wo0 11A0 1o00 17c0 1fA0 1a00 1fA0 1cM0 1fA0 1a00 17c0 1fA0 1a00 1io0 17c0 1lc0 17c0 1fA0 1a00 1io0 17c0 1io0 17c0 1fA0 1a00 1a00 1qM0 WM0 1qM0 11A0 1o00 WM0 1qM0 WM0 1qM0 WM0 1qM0 WM0 1tA0 IM0 90o0 U00 1tA0 U00 1tA0 U00 1tA0 U00 1tA0 WM0 1qM0 WM0 1qM0 WM0 1tA0 U00 1tA0 U00 1tA0 11z0 1o00 11A0 1o00 11A0 1o00 11A0 1qM0 11A0 1o00 11A0 1o00 11A0 1o00 11A0 1o00 11A0 1qM0 WM0 1qM0 11A0 1o00 11A0 1o00 11A0 1o00 11A0 1o00 11A0 1o00 14o0 1o00 11A0 1o00 11A0 1o00 11A0 1qM0 WM0 1qM0 WM0 1qM0 11A0 1o00 11A0 1o00 11A0 1qM0 WM0 1qM0 WM0 1qM0 WM0 1qM0 11A0 1o00 11A0 1o00 11A0 1qM0 WM0 1qM0 WM0 1qM0 11A0 1o00 11A0 1o00 11A0 1o00 11A0 1qM0 WM0 1qM0 WM0 1qM0 11A0 1o00 11A0 1o00 11A0 1qM0 WM0 1qM0 WM0 1qM0 11A0 1o00 11A0 1o00 11A0 1o00 11A0 1qM0 WM0 1qM0 WM0 1qM0 11A0 1o00 11A0 1o00 11A0 1qM0 WM0 1qM0 WM0 1qM0 WM0 1qM0 11A0 1o00 11A0 1o00|10e6');
        </script>

        <script src="{{ assetPathJS }}vendor/jquery.min.js"></script>
        <script src="{{ assetPathJS }}vendor/jquery.ui.min.js"></script>
        <script src="{{ assetPathJS }}bootstrap.min.js"></script>
        <script src="{{ assetPathJS }}vendor/bs.sm.min.js"></script>
        <script src="{{ assetPathJS }}vendor/jquery.timepicker.js"></script>
        <script src="{{ assetPathJS }}vendor/bootstrap-datepicker.js"></script>
        <script src="{{ assetPathJS }}vendor/quill.js"></script>
        <script src="{{ assetPathJS }}vendor/image-resize.min.js"></script>
        <script src="{{ assetPathJS }}vendor/image-drop.min.js"></script>
        <script src="{{ internalAssetPathJS }}vendor/bootbox.min.js"></script>

        <script src="{{ assetPathJS }}angular.min.js"></script>
        <script src="{{ assetPathJS }}vendor/tg.dynamic.directive.js"></script>
        <script src="{{ assetPathJS }}vendor/angular-moment.js"></script>
        <script src="{{ assetPathJS }}vendor/sortable.js"></script>
        <script src="{{ assetPathJS }}app.js"></script>

        <script src="{{ assetPathJS }}vendor/ng-quill.js"></script>


        <script src="{{ assetPathJS }}java.js"></script>
        <script src="{{ assetPathJS }}editor.js"></script>


        {% set cssFiles = anu.template.getCssFile() %}
        {% for file in cssFiles %}
            <link  href="{{ file }}" rel="stylesheet">
        {% endfor %}

        {% set jsFiles = anu.template.getJsFile() %}
        {% for file in jsFiles %}
            {% set path = getFilePath(file) %}
            <script src="{{ path }}" type="text/javascript"></script>
        {% endfor %}

        {% set jsCode = anu.template.getJsCode() %}
        {{ jsCode|raw }}
    {% endblock %}
</body>
</html>
