<!DOCTYPE html>

<html>
    <head>
        <title>{{ title }}</title>
        <link href="{{ assetPathCSS }}style.css" rel="stylesheet" type="text/css">
		
        <link href="{{ assetPathCSS }}login.css" rel="stylesheet" type="text/css">
		<!--
        <link  href="http://code.jquery.com/ui/jquery-ui-git.css" rel="stylesheet">
		<script src="http://code.jquery.com/jquery-git.js"></script>
		<script src="http://code.jquery.com/ui/jquery-ui-git.js"></script>
        -->

        <link  href="{{ assetPathCSS }}jquery-ui-git.css" rel="stylesheet">
        <script src="{{ assetPathJS }}jquery-git.js"></script>
        <script src="{{ assetPathJS }}jquery-ui-git.js"></script>

        <link rel="stylesheet" href="{{ assetPathCSS }}font-awesome/css/font-awesome.min.css">

		<script src="{{ assetPathJS }}draggableOptions.js"></script>
		<script src="{{ assetPathJS }}table.js"></script>
		<script src="{{ assetPathJS }}draggable.js"></script>
		<script src="{{ assetPathJS }}movement.js"></script>
		<script src="{{ assetPathJS }}jquery.ui.touch-punch.min.js"></script>

		
		
        <link rel="stylesheet" type="text/css" href="{ASSETPATHCSS}tabs.css" />
		<script type="text/javascript" src="{{ assetPathJS }}modernizr.custom.04022.js"></script>
        <!--<meta http-equiv="Content-Type" content="text/html;charset=utf-8">-->
    </head>

    <body>
        <header>
			<div id="imageContainer"></div>
            <div id="headline"></div>
            <div id="subheadline">{{ subheadline }}</div>
            <div id="navigation">
                <nav>
					{{ navigation|raw }}
					<div id="showLoginPanel">

					</div>
				</nav>
            </div>
        </header>
			<div class="clear"></div>
        <div id="content">
